.header {
  background-size: cover;
  background-position: center;
  position: relative;
  height: 67vh;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-dark-2, 0.75),
      rgba($color-primary-dark, 0.85)
    ),
    url(../../img/waves.jpg);
  z-index: 2;

  &__text-box {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    text-align: left;
    max-width: 78rem;
    width: 100%;
    margin: 0 auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    text-align: center;


    .heading-primary {
      margin-bottom: 1.5rem;
      &--blog {
        margin-bottom: 1rem;
      }
    }
  }
}

@include respond(phone) {
  .header {
      clip-path: unset;
      height: 60vh;

    &__text-box {
      width: 100%;
      padding: 2rem;

      > h1 {
        margin-bottom: 1.5rem;
      }
    }
  }
}
